html * {
  scroll-behavior: smooth;
  scroll-snap-type:x mandatory;

  scroll-padding: 3rem;
  font-family: 'monospace';
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

/* WRAPPER */

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0 auto;
  /* background: gray; */
  flex-wrap: nowrap;
}


/* ASIDE */

.aside * {
  color: black
}

.aside {
  margin-left: 100px;
  height: 100%;
  padding: 0 20px;
  flex: 0 1 400px;
  overflow-y: auto;
  word-break:break-all;
  font-size: 1.1rem;
  box-shadow: 10px 0 30px rgba(0, 0, 0, 0.15), -10px -5px 30px rgba(0, 0, 0, 0.15);
}

.aside-wrapper {
  margin-top: 50px
}

.main {
  padding: 50px 20% 10px 30px;
  flex: 0 2 100%;
  overflow-y: auto;
}

.section--p {
  font-size: 1rem;
}

.section--h {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2rem;
  line-height: 0px;
}

.article--header {
  font-size: 2rem;
  border-bottom: solid black 2px;
}

.section--code {
  /* background: linear-gradient(to left, #381e4f, #131626 60%); */
  border: black solid 1px;
  color: black;
  display: block;
  border-radius: 5px;
  padding: 20px;
  font-size: 0.8rem;
  overflow-x: auto;
  white-space: nowrap;
}

.aside-header {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.summary a {
  font-weight: 500;
  text-decoration: none;
}

.summary-item a {
  text-decoration: none;
}

.summary-item--list {
  list-style: none
}

.summary-item {
  padding-bottom: 10px;
}

